@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

body {
  background-image: url("../img/background.jpg");
  background-size: cover;
}

#container {
  margin: 30px;
  min-width: 100px;
  max-width: 500px;
  height: 450px;
  padding: 40px;
  background-color: #efefef;
  color: red;
  border-radius: 3px;
  border: solid 10px #000099;
  font-family: 'Kaushan Script', cursive;

  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

h1, p {
  color: black;
}

.dot {
  padding: 10px;
  height: 90px;
  width: 90px;
  border-radius: 1000px;
  background-color: red;
  text-align: center;
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 25px;
  padding-top: 20px;

  transition: all 1s;
  -webkit-tranzition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}

.dot:hover {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.dot-container {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
}
